body {
  margin: 20px auto;
}
.border-light {
  height: 480px;
  margin: 0 auto;
  width: 672px;
}

.weather-app {
  border: 1px solid #dadde1;
  border-radius: 8px;
  height: 480px;
  padding: 20px;
  width: 672px;
}
.col-1 {
  padding: 0;
  text-align: center;
  width: 68px;
}
.btn {
  padding: 6px 15px 6px 15px;
  width: 60px;
}

#date {
  font-family: "Oswald", sans-serif;
  padding: 8px 0 0 20px;
  text-align: center;
  width: 150px;
}

#time {
  font-family: "Ranchers", cursive;
  font-size: 35px;
  padding: 8px 0;
  position: relative;
  text-align: right;
  top: -15px;
  width: 100px;
}

.card-city {
  font-family: "Ranchers", cursive;
  font-size: 45px;
  width: 500px;
}
#icon {
  left: -60px;
  padding: 0;
  position: relative;
  top: -20px;
  width: 240px;
}
#weather-description {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  position: relative;
  top: -180px;
  text-transform: capitalize;
}

#temperature-number {
  font-family: "Oswald", sans-serif;
  font-size: 50px;
  padding-left: 20px;
  position: relative;
  top: -85px;
  text-align: center;
}

#celsius-link {
  font-family: "Oswald", sans-serif;
  position: relative;
  top: -105px;
}

#celsius-link:hover {
  cursor: pointer;
}

#fahrenheit-link {
  font-family: "Oswald", sans-serif;
  position: relative;
  top: -105px;
}
#fahrenheit-link:hover {
  cursor: pointer;
}
#picture {
  left: 500px;
  position: relative;
  top: -510px;
  width: 140px;
}
ul {
  font-family: "Oswald", sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  top: -180px;
  text-align: left;
}
li {
  font-size: 14px;
}

#wind {
  font-size: 12px;
}
#humidity {
  font-size: 12px;
}
#max-temp {
  font-size: 12px;
}
#min-temp {
  font-size: 12px;
}

#forecast {
  font-family: "Oswald", sans-serif;
  font-size: 12px;
  height: 150px;
  left: -20px;
  position: relative;
  top: -155px;
  text-align: center;
}

#repository-link {
  font-size: 15px;
  left: 365px;
  position: relative;
  text-align: left;
}
