body {
  margin: 20px auto;
}
.border-light {
  height: 480px;
  margin: 0 auto;
  width: 672px;
}

.weather-app {
  border: 1px solid #dadde1;
  border-radius: 8px;
  height: 480px;
  padding: 15px 20px 10px 20px;
  width: 672px;
}
.col-1 {
  padding: 0;
  text-align: center;
  width: 68px;
}
.btn {
  padding: 6px 15px 6px 15px;
  width: 60px;
}

#date {
  font-family: "Oswald", sans-serif;
  padding: 8px 0 0 10px;
  text-align: center;
  width: 130px;
}

#time {
  font-family: "Ranchers", cursive;
  font-size: 35px;
  padding: 8px 0;
  position: relative;
  text-align: center;
  top: -15px;
  width: 100px;
}

.card-city {
  font-family: "Ranchers", cursive;
  font-size: 45px;
  width: 500px;
}
#icon {
  left: -60px;
  padding: 0;
  position: relative;
  top: -30px;
  width: 240px;
}
#weather-description {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
  position: relative;
  text-transform: capitalize;
  top: -180px;
}

#temperature-number {
  font-family: "Oswald", sans-serif;
  font-size: 50px;
  padding-left: 20px;
  position: relative;
  text-align: center;
  top: -90px;
}

#celsius-link {
  font-family: "Oswald", sans-serif;
  position: relative;
  top: -105px;
}

#celsius-link:hover {
  cursor: pointer;
}

#fahrenheit-link {
  font-family: "Oswald", sans-serif;
  position: relative;
  top: -105px;
}
#fahrenheit-link:hover {
  cursor: pointer;
}
#picture {
  left: 505px;
  position: relative;
  top: -530px;
  width: 140px;
}
ul {
  font-family: "Oswald", sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: left;
  top: -182px;
}
li {
  font-size: 14px;
}

#wind,
#humidyty,
#max-temp,
#min-temp {
  font-size: 12px;
}

.border-danger {
  background: rgba(255, 255, 255, 0.3);
  border: gray;
  left: -5px;
  max-width: 515px;
  position: relative;
  top: -170px;
  transition: all 250ms ease-in;
}
.border-danger:hover {
  background: rgba(255, 255, 255, 0.8);
}
h6 {
  margin-bottom: 0;
  padding: 10px 15px 0 30px;
  text-align: left;
  width: 150px;
}
.weather-forecast {
  font-family: "Oswald", sans-serif;
  font-size: 12px;
  max-width: 500px;
  text-align: right;
}
.weather-forecast-temperature {
  padding-bottom: 10px;
  padding-left: 30px;
  text-align: center;
  width: 70px;
}
#repository-link {
  color: #4d4d4d;
  font-family: Consolas;
  font-size: 15px;
  font-weight: lighter;
  margin: 20px auto;
  text-align: center;
  text-decoration: none;
}
